.layout {
  display: grid;
  grid-template-rows: 0 60px 119px 1fr;
  height: 100vh;

  background-color: #c36868;
}


/* Status Bar */
.status {
  display: flex;
  align-items: center;
  padding: 0 20px;

  background-color: #f1f5f9;
  border-bottom: 1px solid #ccc;
  font-size: 14px;

}

/* Main Content */
.content {
  display: grid;
  grid-template-columns: auto ;
  height: calc(100vh - 180px);
  gap: 10px;
}
