.layout {
  display: grid;
  grid-template-rows: 0 32px auto 56px 1fr;
  height: 100vh;

  background-color: #F5F5F5;
}


/* Main Content */
.content {
  display: grid;
  grid-template-columns: auto ;
  height: calc(100vh - 180px);
  gap: 10px;
}
