.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 59px;
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px solid #d5d5d5;

  &__brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__logo {
    width: 58px;
    height: 62px;
    object-fit: contain;
  }

  &__app-name {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

}
