@use '@angular/material' as mat;

:host {
  @include mat.button-toggle-overrides((
    height: 30px,
    background-color: #ffffff,
    selected-state-background-color: #2e86dc,
    selected-state-text-color: #ffffff,
    divider-color: #dadada,
  ));
}

img{
  width: 18px;
}
